@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

html {
    box-sizing: border-box; /* previene padding para agregar largo o ancho extra a la pagina */
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(37, 37, 37);
    font-size: 20px;
    font-family: 'Share Tech', sans-serif;
}